<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lggyx.mapper.SubDimensionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lggyx.pojo.entity.SubDimension">
        <id column="code" property="code" />
        <result column="dimension_code" property="dimensionCode" />
        <result column="name" property="name" />
        <result column="description" property="description" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        code, dimension_code, name, description
    </sql>

</mapper>
