<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lggyx.mapper.SubScoreActionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lggyx.pojo.entity.SubScoreAction">
        <id column="id" property="id" />
        <result column="sub_dim_code" property="subDimCode" />
        <result column="min_score" property="minScore" />
        <result column="max_score" property="maxScore" />
        <result column="action_plan" property="actionPlan" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sub_dim_code, min_score, max_score, action_plan
    </sql>

</mapper>
